@using Auction.DataBaseConnection
@using Auction.DataBaseConnection.Factory
@using Auction.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="product">
    <div class="container">
        <div class="col-md-9 product1">
            <div class=" bottom-product">
                @foreach (var lot in ViewBag.lots)
                {
                    if (lot.SoldOut == 0)
                    {
                        <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                            <div class="product-at">
                                <a asp-controller="Lots" asp-action="Lot" asp-route-lotId="@lot.Id">
                                    <img class="img-responsive" src="@lot.Image" alt="">
                                    <div class="pro-grid">
                                        <span class="buy-in">Bet</span>
                                    </div>
                                </a>
                            </div>
                            <p class="tun">@lot.Description</p>
                            <a class="item_add" asp-controller="Lots" asp-action="Lot" asp-route-lotId="@lot.Id">
                                <p class="number item_price"><i> </i>$@lot.CurrentPrice</p>
                            </a>
                        </div>
                    }
                }
                <div class="clearfix"> </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>