@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Ы</title>
</head>
<body>
@foreach (var c in User.Claims)
{
    @c.Value
    <br>
    <li>@c.Type: @c.Value</li>
}
<div>
    <form method="post">
        <input type="hidden" value="@foreach (var c in User.Claims){@c.Value;}" name="ProfileId"/>
        <input type="hidden" value="@ViewBag.lotId.ToString()" name="LotId"/>
        <table>
            <tr>
                <td>Введите вашу ставку</td>
                <td><input type="text" name="Bet"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Отправить"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>