@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* *@
@* <form method="post"> *@
@*     <table> *@
@*         <tr> *@
@*             <td>Введите имя лота</td> *@
@*             <td><input type="text" name="Name"/></td> *@
@*         </tr> *@
@*         <tr> *@
@*             <td>Введите описание лота</td> *@
@*             <td><input type="text" name="Description"/></td> *@
@*         </tr> *@
@*         <tr> *@
@*             <td>Введите ссылку на фотографию</td> *@
@*             <td><input type="text" name="Image"/></td> *@
@*         </tr> *@
@*         <tr> *@
@*             <td>Введите начальную цену</td> *@
@*             <td><input type="text" name="StartPrice"/></td> *@
@*         </tr> *@
@*         <tr> *@
@*             <td>Введите дату окончания аукциона</td> *@
@*             <td><input type="date" name="EndOfAuctionDate"/></td> *@
@*         </tr> *@
@* *@
@* *@
@*         <tr> *@
@*             <td><input type="submit" value="Отправить"/></td> *@
@*         </tr> *@
@*     </table> *@
    <div class=" container">
    <div class="register">
    	<h1>Create Lot information</h1>
        <form action="CreateLot" method="post">
            <input type="hidden" value="@foreach (var c in User.Claims){@c.Value;}" name="profileId"/>
            <input type="hidden" value="@ViewBag.LastLotId" name="Id"/>
            <input type="hidden" value="0" name="SoldOut"/>
            <div class="col-md-6 register-bottom-grid">
                <div>
                    <span>Введите имя лота</span>
                    <input type="text" name="Name"/>
                </div>
                <div>
                    <span>Введите описание лота</span>
                    <input type="text" name="Description"/>
                </div>
                <div>
                    <span>Введите ссылку на фотографию</span>
                    <input type="text" name="Image"/>
                </div>
                <div>
                    <span>Введите начальную цену</span>
                    <input type="text" name="StartPrice"/>
                </div>
                <div>
                    <span>Введите дату окончания аукциона</span>
                    <input type="date" name="EndOfAuctionDate"/>
                </div>
                
                <input type="submit" value="submit">

            </div>
            <div class="clearfix"> </div>
        </form>
    			</div>
    </div>
