@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Auction.DataBaseConnection
@using Auction.DataBaseConnection.Factory
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>title</title>
</head>
<body>
<div class="container">
    <div class="check">
        @foreach (var user in User.Claims)
        {
            foreach (var profileIdAndlotIdAndNameLotAndImageAndMaxBetPrice in Factory.GetProfileLots(DatabaseConnection.GetProfileLots(Convert.ToInt32(user.Value),1)))
            {
                <div class="col-md-9 cart-items">
                        <div class="cart-header">
                            <div class="cart-sec simpleCart_shelfItem">
                                <div class="cart-item cyc">
                                    <img src="@profileIdAndlotIdAndNameLotAndImageAndMaxBetPrice.Item4" class="img-responsive" alt="">
                                </div>
                                <div class="cart-item-info">
                                    <h3>
                                        <a asp-controller="Lots" asp-action="Lot" asp-route-lotId="@profileIdAndlotIdAndNameLotAndImageAndMaxBetPrice.Item2">@profileIdAndlotIdAndNameLotAndImageAndMaxBetPrice.Item3</a>
                                    </h3>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <script></script>
                        <div class="cart-header2">
                        </div>
                    </div>
                    <div class="col-md-3 cart-total">
                        <ul class="total_price">
                            <li class="last_price">
                                <h4>Final&#160; price</h4>
                            </li>
                            <li class="last_price">
                                <span>$@profileIdAndlotIdAndNameLotAndImageAndMaxBetPrice.Item5</span>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
            }
        }
        <div class="clearfix"> </div>
    </div>
</div>
</body>
</html>