@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form method="post">
        <input type="hidden" name="Balance" value="0"/>
        <input type="text" name="Nickname" placeholder="Nickname"/>
        <input type="password" name="Password" placeholder="Password"/>
        <input type="submit" value="register"/>
    </form>
</div>
</body>
</html>