@model dynamic

@{
    ViewBag.Title = "title";
}
<!DOCTYPE html>
<html lang="en">
<body></body>
@if (User.Identity.IsAuthenticated)
{
    @User.Identity.Name
    @foreach (var c in User.Claims)
    {
        <li>@c.Type: @c.Value</li>
    }
    <ul class="navbar-nav flex-grow-1">
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">LogOut</a></li>
    </ul>
    

}
@RenderBody();

</html>


<h2>title</h2>
